@charset 'UTF-8';

// Configurações scss
$azul: #094ccc;
$amarelo: #ffc75a;
$branco: #fff;
$cinza: #5e5a52;
$verde: #12a612;

@mixin upTo501px {
	@media (min-width: 501px){
		@content;
	}
}

@mixin upTo601px {
	@media (min-width: 601px){
		@content;
	}
}

@mixin upTo801px {
	@media (min-width: 801px){
		@content;
	}
}

@mixin upTo901px {
	@media (min-width: 901px){
		@content;
	}
}

@mixin upTo1001px {
	@media (min-width: 1001px){
		@content;
	}
}

@mixin upTo1201px {
	@media (min-width: 1200px){
		@content;
	}
}

/* Configurações css geral */
html,body{
	font-family: 'Montserrat', 'Helvetica', 'Verdana', sans-serif;
	box-sizing: border-box;
}

.container{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;

	@include upTo1201px {max-width: 1200px;}
}


/* header */

header{
	width: 100%;
	background: url('../img/banner_600x400.jpg') no-repeat;
	background-size: cover;

	@include upTo1001px {height: 550px;}

	.container{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		.logo {
			width: 110px;
			height: 40px;
			display: inline-block;
			margin: 10px 0 10px 10px;

			img {width: 100%;}
		}

		label {
			width: 50px;
			height: 50px;
			display: inline-block;
			text-align: center;
			position: absolute;
			top: 0.5%;
			right: 1%;
			cursor: pointer;
			
			.menu_barra {
				width: 40px;
				height: 5px;
				display: inline-block;
				background: $azul;
			}

			@include upTo801px {display: none;}
		}

		input {
			display: none;

			&:checked + .menu_mobile{
				display: block;
				transition: all 1s ease-in-out;
			}

			@include upTo801px {display: none;}
		}

		.menu_mobile {
			display: none;
			position: relative;
			top: 15%;
			background: black;
			width: 100%;

			@include upTo801px {display: none;}

			a {
				display: block;
				background: $azul;
				text-align: center;
				padding: 15px 0;
				border-bottom: 1px solid $branco;
				color: $amarelo;

				li {font-weight: bold;}
				
				&:last-child {border-bottom: none;}

				&:hover {
					background: $branco;
					color: $azul;
				}
			}
		}

		.menu_desktop {
			display: none;

			@include upTo801px {
				display: inline-block;
				vertical-align: bottom;
				
				ul {

					a {
						display: inline-block;
						margin-left: 20px;

						li {
							font-weight: bold;
							color: $azul;
							padding: 20px;

							&:hover {color: $branco;}
						}
					}
				}
			}
		}
	}


	/* chamada_banner */

	.cta_wrapper {
		width: calc(100% - 20px);
		height: 100%;
		background: rgba(0,0,0,0.6);
		margin-top: 30vh;
		padding: 5% 10px 0 10px;
		color: $branco;

		@include upTo601px {padding: 0 10px;}

		@include upTo1001px {
			width: auto;
			text-align: center;
			margin: 150px auto;
			padding: 0;
			background-color: transparent;
		}

		h1 {
			font-size: 1.5em;
			font-weight: bold;
			text-align: left;

			@include upTo601px {
				font-size: 2em;
				margin-top: 10px;
			}

			@include upTo1001px {font-size: 3em;}
		}

		p {
			line-height: 1.1em;
			margin-top: 10px;

			@include upTo501px {
				width: 100%;
				font-size: 1.2em;
			}

			@include upTo601px {
				line-height: 1.6em;
				margin-top: 15px;
			}

			@include upTo1001px {
				width: 700px;
				text-align: center;
				color: $branco;
				font-weight: bold;
				font-size: 1.3em;
			}
		}

		a {
			color: $amarelo;
			display: inline-block;
			margin-top: 5%;
			padding: 4% 5%;
			font-size: 1.2em;
			font-weight: bold;
			border-radius: 5px;
			margin-bottom: 10px;

			&.ft_button {background: $verde;}

			&:hover {color: $branco;}

			@include upTo501px {padding: 15px;}

			@include upTo601px {margin-top: 15px;}
		}
	}
}


/* serviços */

.servicos_intro {
	width: 100%;
	margin-top: 20px;

	h1 {
		color: $azul;
		font-size: 1.8em;
		font-weight: bold;
		line-height: 1.1em;
		margin-top: 50px;
		text-align: center;
	}
}

.servicos_home {

	.servicos_wrapper{
		margin-top: 0;
		display: flex;
		flex-flow: row wrap;

		.card {
			width: 100%;
			margin: 15% auto 0;
			text-align: center;
			box-sizing: border-box;

			@include upTo501px {width: 50%;}

			@include upTo801px {width: 33%;}

			@include upTo1001px {margin-top: 70px;}

			img {width: 120px;}

			h4 {
				margin-top: 5%;
				font-size: 1.3em;
				font-weight: bold;
			}

			p {
				margin: 5% 0;
				line-height: 1.2em;
			}
		}
	}
}

.cta_contador {
	width: 230px;
	padding: 4% 0;
	margin: 30px auto 0;
	box-sizing: border-box;
	border-radius: 5px;
	background: $azul;
	color: $amarelo;
	display: block;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1em;
	cursor: pointer;

	&:hover {background: $verde;}

	@include upTo601px {padding: 15px 0;}
}


/* vantagens */

.oferecemos_depoimentos_wrapper {
	display: flex;
	flex-flow: row wrap;
	margin: 50px 0 0;

	.oferecemos_wrapper {
		background: $cinza;
		padding: 3% 0 30px;
		width: 100%;

		@include upTo901px {
			width: 50%;
			box-sizing: border-box;
			padding-top: 20px;
		}

		@include upTo1001px {
			display: flex;
			justify-content: flex-end;
		}

		.oferecemos{

			@include upTo1001px {width: 500px;}

			h2 {
				font-weight: bold;
				font-size: 1.8em;
				line-height: 1.4em;
				margin: 2% 0;
				text-align: center;
				color: $branco;
			}

			li {
				margin: 4% 10px 0;
				color: $branco;
				line-height: 1.2em;
			}
		}
	}

/* depoimentos */

	.depoimentos_wrapper {
		background: $azul;
		width: 100%;
		padding: 3% 1%;
		box-sizing: border-box;

		@include upTo901px {
			width: 50%;
			padding: 20px 10px 0;
		}

		.depoimentos{
			width: 100%;

			@include upTo1201px {
				width: 500px;
				margin-left: 70px;
			}

			h1 {
				font-weight: bold;
				font-size: 1.8em;
				line-height: 1.4em;
				text-align: center;
				color: $branco;
				margin-top: 2%;
				width: 100%;
				word-break: break;
			}

			.depoimento_indv {	
				color: $branco;
				transition: all 1s ease-out;

				img {
					width: 60px;
					height: 50px;
					background: blue;
					display: block;
					margin: 40px auto 10px; 
					border-radius: 50%;
					box-sizing: border-box;
				}

				.nome_cliente, .cargo_cliente {
					display: block;
					text-align: center;
					font-size: 1.3em;
					line-height: 1em;
				}

				.nome_cliente {
					font-weight: bold;
					margin-bottom: 7px;
				}

				p {
					height: 230px;
					margin: 20px 0 0 10px;
					font-size: 1.3em;
					line-height: 1.2em;
					text-align: left;

					@include upTo501px {height: 140px;}
				}
			}
		}

		.slide_wrapper {
			width: 100%;
			margin: 15px auto;
			text-align: center;

			.depmt {
				display: inline-block;
				width: 15px;
				height: 15px;
				background: $cinza;
				margin-left: 10px;
				cursor: unset;
				border-radius: 50%;
			}
		}
	}
}


/* contato */

.divisoria {
	width: 30px;
	height: 2px;
	border-radius: 15px;
	background: $azul;
	margin: 15% auto;

	@include upTo501px {margin: 50px auto;}

	@include upTo1001px {display: none;}
}

/* formulario  */

.contato {
	position: relative;

	@include upTo1001px {
		max-width: 1000px;
		margin: 0 auto;
	}

	@include upTo1201px {max-width: 1200px;}

	h1 {
		color: $cinza;
		margin: 50px 0 20px;
		text-align: center;
		font-size: 1.5em;
		line-height: 1.1em;
		font-weight: bold;
	}

	.contato_wrapper {

		@include upTo1001px {
			display: flex;
			flex-flow: row wrap;
		}
	}
}

.formulario {
	margin: 5% 2% 0 2%;

	@include upTo501px {
		width: 500px;
		margin: 0 auto;
	}

	.container{
		h1 {
			font-size: 1.8em;
			font-weight: bold;
			line-height: 1.2em;
			color: $cinza;
		}

		form{
			margin-top: 5%;

			@include upTo501px {text-align: center;}

			input, textarea{
				width: 97%;
				border: 1px solid #444;
				border-radius: 5px;

				@include upTo501px {width: 92%;}
			}

			input {
				margin: 5% 0;
				padding: 3% 0 3% 2%;
			}

			textarea {
				resize: none;
				width: 97%;
				padding: 3% 0 0 2%;
				margin: 5% 0 0;

				@include upTo501px {width: 92%;}
			}

			.button_form {
				margin: 30px auto;
				display: block;
				background: $azul;
				color: $amarelo;
				border: none;
				border-radius: 5px;
				padding: 10px 20px;
				font-weight: bold;
				font-size: 1.2em;
				letter-spacing: 1px;
				cursor: pointer;

				&:hover {background: $verde;}
			}
		}
	}
}

/* redes sociais */

.redes_sociais {
	margin: 20% 2%; 

	@include upTo501px {
		width: 400px;
		margin: 0 auto;
		height: 100%;
		display: block;
	}

	.container {

		h1 {
			font-size: 1.5em;
			font-weight: bold;
			line-height: 1.1em;
			color: $cinza;
		}
		
		.social_wrapper {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
			margin-top: 10%;

			.fb, .insta, .tt {
				width: 90px;
				height: 90px;
			}
		}	
	}
}

/* localização */

.localizacao {

	@include upTo601px {
		width: 400px;
		margin: 0 auto;
		height: 100%;
		display: block;
	}

	@include upTo1001px {
		position: absolute;
		top: 350px;
		left: 570px;
		height: auto;
	}

	@include upTo1201px {left: 730px;}

	.container {
		width: 100%;
		text-align: center;

		h1{
			font-size: 1.5em;
			font-weight: bold;
			line-height: 1.1em;
			color: $cinza;
			margin: 0 1%;
		}

		.map {
			height: 300px;
			background: url('../img/rsz_maps_460x300.png') no-repeat;
			margin: 10% auto 0;
			background-size: cover;
		}

		p {
			margin: 10px 0;
			line-height: 1.2em;
			color: $cinza;
		}
	}
}


/* footer */

footer {
	margin-top: 50px;
	background: $azul;

	@include upTo1001px {margin-top: 150px;}

	.container {
		color: $branco;
		padding: 3% 2%;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;

		@include upTo1201px {padding: 20px 10px;}

		h2 {
			font-weight: bold;
			line-height: 2.5em;
		}

		a {
			color: $branco;
			border-bottom: 1px dotted $branco;
			padding: 2% 5%;
			display: inline-block;
			cursor: pointer;

			&:nth-of-type(2) {margin-left: 20px;}

			&:hover {
				color: $amarelo;
				border-bottom-color: $amarelo;
			}
		}

		.contatos_footer {
			width: 185px;
			margin-top: 30px;

			@include upTo501px{margin-top: 10px;}

			.social_media {
				display: inline-block;
				margin-left: 7%;

				a {
					width: 50px;
					height: 50px;
					padding: 2% 0;
					border-bottom: none;
				}
			}

			.social_media:first-child {
				margin-left: 0;
			}
		}
	}

	.direitos {
		width: 100%;
		height: 50px;
		background: #000;
		color: $amarelo;
		display: flex;
		justify-content: space-around;

		h2 {align-self: center;}
	}
}