@charset "UTF-8";
/* Configurações css geral */
html, body {
  font-family: 'Montserrat', 'Helvetica', 'Verdana', sans-serif;
  box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0 auto; }

/* header */
header {
  width: 100%;
  background: url("../img/banner_600x400.jpg") no-repeat;
  background-size: cover;
  /* chamada_banner */ }
  header .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    header .container .logo {
      width: 110px;
      height: 40px;
      display: inline-block;
      margin: 10px 0 10px 10px; }
      header .container .logo img {
        width: 100%; }
    header .container label {
      width: 50px;
      height: 50px;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 0.5%;
      right: 1%;
      cursor: pointer; }
      header .container label .menu_barra {
        width: 40px;
        height: 5px;
        display: inline-block;
        background: #094ccc; }
    header .container input {
      display: none; }
      header .container input:checked + .menu_mobile {
        display: block;
        transition: all 1s ease-in-out; }
    header .container .menu_mobile {
      display: none;
      position: relative;
      top: 15%;
      background: black;
      width: 100%; }
      header .container .menu_mobile a {
        display: block;
        background: #094ccc;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #fff;
        color: #ffc75a; }
        header .container .menu_mobile a li {
          font-weight: bold; }
        header .container .menu_mobile a:last-child {
          border-bottom: none; }
        header .container .menu_mobile a:hover {
          background: #fff;
          color: #094ccc; }
    header .container .menu_desktop {
      display: none; }
  header .cta_wrapper {
    width: calc(100% - 20px);
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 30vh;
    padding: 5% 10px 0 10px;
    color: #fff; }
    header .cta_wrapper h1 {
      font-size: 1.5em;
      font-weight: bold;
      text-align: left; }
    header .cta_wrapper p {
      line-height: 1.1em;
      margin-top: 10px; }
    header .cta_wrapper a {
      color: #ffc75a;
      display: inline-block;
      margin-top: 5%;
      padding: 4% 5%;
      font-size: 1.2em;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 10px; }
      header .cta_wrapper a.ft_button {
        background: #12a612; }
      header .cta_wrapper a:hover {
        color: #fff; }

/* serviços */
.servicos_intro {
  width: 100%;
  margin-top: 20px; }
  .servicos_intro h1 {
    color: #094ccc;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.1em;
    margin-top: 50px;
    text-align: center; }

.servicos_home .servicos_wrapper {
  margin-top: 0;
  display: flex;
  flex-flow: row wrap; }
  .servicos_home .servicos_wrapper .card {
    width: 100%;
    margin: 15% auto 0;
    text-align: center;
    box-sizing: border-box; }
    .servicos_home .servicos_wrapper .card img {
      width: 120px; }
    .servicos_home .servicos_wrapper .card h4 {
      margin-top: 5%;
      font-size: 1.3em;
      font-weight: bold; }
    .servicos_home .servicos_wrapper .card p {
      margin: 5% 0;
      line-height: 1.2em; }

.cta_contador {
  width: 230px;
  padding: 4% 0;
  margin: 30px auto 0;
  box-sizing: border-box;
  border-radius: 5px;
  background: #094ccc;
  color: #ffc75a;
  display: block;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
  cursor: pointer; }
  .cta_contador:hover {
    background: #12a612; }

/* vantagens */
.oferecemos_depoimentos_wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 50px 0 0;
  /* depoimentos */ }
  .oferecemos_depoimentos_wrapper .oferecemos_wrapper {
    background: #5e5a52;
    padding: 3% 0 30px;
    width: 100%; }
    .oferecemos_depoimentos_wrapper .oferecemos_wrapper .oferecemos h2 {
      font-weight: bold;
      font-size: 1.8em;
      line-height: 1.4em;
      margin: 2% 0;
      text-align: center;
      color: #fff; }
    .oferecemos_depoimentos_wrapper .oferecemos_wrapper .oferecemos li {
      margin: 4% 10px 0;
      color: #fff;
      line-height: 1.2em; }
  .oferecemos_depoimentos_wrapper .depoimentos_wrapper {
    background: #094ccc;
    width: 100%;
    padding: 3% 1%;
    box-sizing: border-box; }
    .oferecemos_depoimentos_wrapper .depoimentos_wrapper .depoimentos {
      width: 100%; }
      .oferecemos_depoimentos_wrapper .depoimentos_wrapper .depoimentos h1 {
        font-weight: bold;
        font-size: 1.8em;
        line-height: 1.4em;
        text-align: center;
        color: #fff;
        margin-top: 2%;
        width: 100%;
        word-break: break; }
      .oferecemos_depoimentos_wrapper .depoimentos_wrapper .depoimentos .depoimento_indv {
        color: #fff;
        transition: all 1s ease-out; }
        .oferecemos_depoimentos_wrapper .depoimentos_wrapper .depoimentos .depoimento_indv img {
          width: 60px;
          height: 50px;
          background: blue;
          display: block;
          margin: 40px auto 10px;
          border-radius: 50%;
          box-sizing: border-box; }
        .oferecemos_depoimentos_wrapper .depoimentos_wrapper .depoimentos .depoimento_indv .nome_cliente, .oferecemos_depoimentos_wrapper .depoimentos_wrapper .depoimentos .depoimento_indv .cargo_cliente {
          display: block;
          text-align: center;
          font-size: 1.3em;
          line-height: 1em; }
        .oferecemos_depoimentos_wrapper .depoimentos_wrapper .depoimentos .depoimento_indv .nome_cliente {
          font-weight: bold;
          margin-bottom: 7px; }
        .oferecemos_depoimentos_wrapper .depoimentos_wrapper .depoimentos .depoimento_indv p {
          height: 230px;
          margin: 20px 0 0 10px;
          font-size: 1.3em;
          line-height: 1.2em;
          text-align: left; }
    .oferecemos_depoimentos_wrapper .depoimentos_wrapper .slide_wrapper {
      width: 100%;
      margin: 15px auto;
      text-align: center; }
      .oferecemos_depoimentos_wrapper .depoimentos_wrapper .slide_wrapper .depmt {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: #5e5a52;
        margin-left: 10px;
        cursor: unset;
        border-radius: 50%; }

/* contato */
.divisoria {
  width: 30px;
  height: 2px;
  border-radius: 15px;
  background: #094ccc;
  margin: 15% auto; }

/* formulario  */
.contato {
  position: relative; }
  .contato h1 {
    color: #5e5a52;
    margin: 50px 0 20px;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.1em;
    font-weight: bold; }

.formulario {
  margin: 5% 2% 0 2%; }
  .formulario .container h1 {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.2em;
    color: #5e5a52; }
  .formulario .container form {
    margin-top: 5%; }
    .formulario .container form input, .formulario .container form textarea {
      width: 97%;
      border: 1px solid #444;
      border-radius: 5px; }
    .formulario .container form input {
      margin: 5% 0;
      padding: 3% 0 3% 2%; }
    .formulario .container form textarea {
      resize: none;
      width: 97%;
      padding: 3% 0 0 2%;
      margin: 5% 0 0; }
    .formulario .container form .button_form {
      margin: 30px auto;
      display: block;
      background: #094ccc;
      color: #ffc75a;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 1.2em;
      letter-spacing: 1px;
      cursor: pointer; }
      .formulario .container form .button_form:hover {
        background: #12a612; }

/* redes sociais */
.redes_sociais {
  margin: 20% 2%; }
  .redes_sociais .container h1 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.1em;
    color: #5e5a52; }
  .redes_sociais .container .social_wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 10%; }
    .redes_sociais .container .social_wrapper .fb, .redes_sociais .container .social_wrapper .insta, .redes_sociais .container .social_wrapper .tt {
      width: 90px;
      height: 90px; }

/* localização */
.localizacao .container {
  width: 100%;
  text-align: center; }
  .localizacao .container h1 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.1em;
    color: #5e5a52;
    margin: 0 1%; }
  .localizacao .container .map {
    height: 300px;
    background: url("../img/rsz_maps_460x300.png") no-repeat;
    margin: 10px auto 0;
    background-size: cover; }
  .localizacao .container p {
    margin: 10px 0;
    line-height: 1.2em;
    color: #5e5a52; }

/* footer */
footer {
  margin-top: 50px;
  background: #094ccc; }
  footer .container {
    color: #fff;
    padding: 3% 2%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; }
    footer .container h2 {
      font-weight: bold;
      line-height: 2.5em; }
    footer .container a {
      color: #fff;
      border-bottom: 1px dotted #fff;
      padding: 2% 5%;
      display: inline-block; }
      footer .container a:nth-of-type(2) {
        margin-left: 20px; }
      footer .container a:hover {
        color: #ffc75a;
        border-bottom-color: #ffc75a; }
    footer .container .contatos_footer {
      width: 185px;
      margin-top: 30px; }
      footer .container .contatos_footer .social_media {
        display: inline-block;
        margin-left: 7%; }
        footer .container .contatos_footer .social_media a {
          width: 50px;
          height: 50px;
          padding: 2% 0;
          border-bottom: none; }
      footer .container .contatos_footer .social_media:first-child {
        margin-left: 0; }
  footer .direitos {
    width: 100%;
    height: 50px;
    background: #000;
    color: #ffc75a;
    display: flex;
    justify-content: space-around; }
    footer .direitos h2 {
      align-self: center; }

/*# sourceMappingURL=style.css.map */
